<nav class="nxl-navigation">
    <div class="navbar-wrapper">
        <div class="m-header">
            <a href="{{ path('app_home') }}" class="b-brand">
                <img src="{{ asset('images/logo-full.png') }}" alt="Duralux Logo" class="logo logo-lg" />
                <img src="{{ asset('images/logo-abbr.png') }}" alt="Duralux" class="logo logo-sm" />
            </a>
        </div>
        <div class="navbar-content">
            <ul class="nxl-navbar">
                <li class="nxl-item nxl-caption">
                    <label>Navigation</label>
                </li>
                
                <!-- Dashboards -->
                <li class="nxl-item nxl-hasmenu">
                    <a href="javascript:void(0);" class="nxl-link">
                        <span class="nxl-micon"><i class="feather-airplay"></i></span>
                        <span class="nxl-mtext">Dashboards</span>
                        <span class="nxl-arrow"><i class="feather-chevron-right"></i></span>
                    </a>
                    <ul class="nxl-submenu">
                        {% if is_granted('ROLE_ADMIN') %}
                        <li class="nxl-item"><a class="nxl-link" href="{{ path('dashboard_admin') }}">Admin Dashboard</a></li>
                        <li class="nxl-item"><a class="nxl-link" href="{{ path('dashboard_analytics') }}">Analytics</a></li>
                        {% else %}
                        <li class="nxl-item"><a class="nxl-link" href="{{ path('dashboard_user') }}">My Dashboard</a></li>
                        {% endif %}
                    </ul>
                </li>
                
                {% if is_granted('ROLE_ADMIN') %}
                <!-- Reports (Admin Only) -->
                <li class="nxl-item nxl-hasmenu">
                    <a href="javascript:void(0);" class="nxl-link">
                        <span class="nxl-micon"><i class="feather-cast"></i></span>
                        <span class="nxl-mtext">Reports</span>
                        <span class="nxl-arrow"><i class="feather-chevron-right"></i></span>
                    </a>
                    <ul class="nxl-submenu">
                        <li class="nxl-item"><a class="nxl-link" href="#">Sales Report</a></li>
                        <li class="nxl-item"><a class="nxl-link" href="#">Leads Report</a></li>
                        <li class="nxl-item"><a class="nxl-link" href="#">Project Report</a></li>
                        <li class="nxl-item"><a class="nxl-link" href="#">Timesheets Report</a></li>
                    </ul>
                </li>
                
                <!-- Customers (Admin Only) -->
                <li class="nxl-item nxl-hasmenu">
                    <a href="javascript:void(0);" class="nxl-link">
                        <span class="nxl-micon"><i class="feather-users"></i></span>
                        <span class="nxl-mtext">Customers</span>
                        <span class="nxl-arrow"><i class="feather-chevron-right"></i></span>
                    </a>
                    <ul class="nxl-submenu">
                        <li class="nxl-item"><a class="nxl-link" href="#">Customers</a></li>
                        <li class="nxl-item"><a class="nxl-link" href="#">Create Customer</a></li>
                    </ul>
                </li>
                
                <!-- Leads (Admin Only) -->
                <li class="nxl-item nxl-hasmenu">
                    <a href="javascript:void(0);" class="nxl-link">
                        <span class="nxl-micon"><i class="feather-alert-circle"></i></span>
                        <span class="nxl-mtext">Leads</span>
                        <span class="nxl-arrow"><i class="feather-chevron-right"></i></span>
                    </a>
                    <ul class="nxl-submenu">
                        <li class="nxl-item"><a class="nxl-link" href="#">Leads</a></li>
                        <li class="nxl-item"><a class="nxl-link" href="#">Create Lead</a></li>
                    </ul>
                </li>
                
                <!-- Projects (Admin Only) -->
                <li class="nxl-item nxl-hasmenu">
                    <a href="javascript:void(0);" class="nxl-link">
                        <span class="nxl-micon"><i class="feather-briefcase"></i></span>
                        <span class="nxl-mtext">Projects</span>
                        <span class="nxl-arrow"><i class="feather-chevron-right"></i></span>
                    </a>
                    <ul class="nxl-submenu">
                        <li class="nxl-item"><a class="nxl-link" href="#">Projects</a></li>
                        <li class="nxl-item"><a class="nxl-link" href="#">Create Project</a></li>
                    </ul>
                </li>
                
                <!-- Settings (Admin Only) -->
                <li class="nxl-item nxl-hasmenu">
                    <a href="javascript:void(0);" class="nxl-link">
                        <span class="nxl-micon"><i class="feather-settings"></i></span>
                        <span class="nxl-mtext">Settings</span>
                        <span class="nxl-arrow"><i class="feather-chevron-right"></i></span>
                    </a>
                    <ul class="nxl-submenu">
                        <li class="nxl-item"><a class="nxl-link" href="#">General</a></li>
                        <li class="nxl-item"><a class="nxl-link" href="#">Users</a></li>
                    </ul>
                </li>
                {% else %}
                <!-- User Menu Items -->
                <li class="nxl-item">
                    <a href="#" class="nxl-link">
                        <span class="nxl-micon"><i class="feather-user"></i></span>
                        <span class="nxl-mtext">My Profile</span>
                    </a>
                </li>
                
                <li class="nxl-item">
                    <a href="#" class="nxl-link">
                        <span class="nxl-micon"><i class="feather-settings"></i></span>
                        <span class="nxl-mtext">Settings</span>
                    </a>
                </li>
                {% endif %}
               
            </ul>
        </div>
    </div>
</nav>
